body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
    color: #61747a;
}
.wrap{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.play_wrap{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.search_bar{
    z-index: 99;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background-color:#9ca6a9;
}
.search_bar_logo{
    float: left;
    width: 180px;
    color: #ffffff;
    font-size: 20px;
}
.search_bar_logo i{
    color: #ffffff;
    font-size: 30px;
    margin: 5px auto 5px 20px;
}
.search_bar input{
    width: 150px;
    border-radius: 2em;
    height: 30px;
    margin-top: 5px;
    float: right;
    margin-right: 5%;
    border:0px solid #f5f5f5 ;
    padding-left: 1em;
}
.center_con{
    margin-top: 40px;
    height:100%;
    width: 100%;
}
.song_wrapper{
    float: left;
    width: 33%;

}
.song_list{
    width: 100%;
    list-style:none;
    overflow: auto;
    height: 500px;
}
.song_list::-webkit-scrollbar {
    display: none;
}
.song_list li{
    height: 30px;
    width: 100%;
    font-size: "宋体";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0 5px 0;
}
.li_on{
    background: rgb(255, 255, 255,0.5);
}
.li_off{
    
}
.song_list li b{
    line-height: 30px;
    font-weight: 200;
    font-size: "宋体";
}
.song_list li b:hover{
    color: royalblue;
}
.icon-yinle5 {
    color: #61747a;
}
.icon-yinle5:hover{
    color: royalblue;
    cursor:pointer;
}
.player_con{
    float: left;
    width: 33%;
    position: relative;
}
.disc {
    position: absolute;
    left: 73px;
    top: 60px;
    z-index: 9;
    width: 350px;
    height: 350px;
  }
.cover {
    position: absolute;
    left: 125px;
    top: 112px;
    border-radius: 75px;
    z-index: 8;
    width: 250px;
    height: 250px;
  }
.play_bar {
    position: absolute;
    left: 250px;
    top: -10px;
    z-index: 10;
    width: 100px;
    transform: rotate(-25deg);
    transform-origin: 12px 12px;
    transition: 1s;
  }
  /* 播放杆 转回去 */
.player_con.playing .play_bar {
    transform: rotate(0);
  }
.comment_wrapper{
    float: right;
    width: 33%;
    position: relative;
    
}
.title{
    position: absolute;
    top: 0;
    color: #999;
    font-size: 15px;
}
.comment_list{
    margin-top: 50px;
    width: 100%;
    position: relative;
    overflow: auto;
    height: 450px;
}
.comment_list::-webkit-scrollbar {
    display: none;
}
.comment_list dl{
    width: 100%;
    position: relative;
}
.comment_list dt{
    position: absolute;
    left: 4px;
    top: 0px;
    height: 40px;
    width: 40px;
}
.comment_list dd{
    display: block;
    margin-inline-start: 40px;
}
.comment_list dt img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.name{
    font-size: 15px;
    font-weight: 600;
    list-style: none;
    text-align: right;
}
.detail{
    color: #666;
    line-height: 18px;
    text-align: left;
    margin-top: 5px;
    text-indent:2em;
    border-bottom:solid 1px #DDDDDD;
    padding-bottom: 10px;
}
.audio_con{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: #cccccc;
    padding: 10px 0;
}
.myaudio{
    width: 100%;
    background-size:cover;
    height: 60px;
}
/* 旋转的动画 */
@keyframes Rotate {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  /* 旋转的类名 */
  .autoRotate {
    animation-name: Rotate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-timing-function: linear;
    animation-duration: 5s;
  }
  /* 是否正在播放 */
  .player_con.playing .disc,
  .player_con.playing .cover {
    animation-play-state: running;
  }
  /* 播放杆 转回去 */
  .player_con.playing .play_bar {
    transform: rotate(0);
  }
.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}
.video_con{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
}
.video_con video{
    width: 500px;
    z-index: 1000;
    margin-top: 150px;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg img{
    opacity: 0.2;
    width: 100%;
}
