<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网抑云音乐</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2295971_3u90txap122.css">
</head>
<body>
    <div class="wrap">
        <!-- 播放器主题区域 -->
        <div class="play_wrap" id="player">
            <div class="search_bar">
                <div class="search_bar_logo">
                    <i class="icon-yinle8 iconfont"></i>网抑云音乐
                </div>
                <!-- 搜索歌曲 -->
                <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic" placeholder="歌曲">
            </div>
            <div class="center_con">
                <!-- 搜索歌曲列表 -->
                <div class="song_wrapper">
                    <ul class="song_list">
                        <li v-for="(item,index) in musicList" :class="{li_on:index%2==0,li_off:index%2!=0}" >
                            <a href="javascript:;" @click="playMusic(item.id)"><i class="icon-ziyuan iconfont"></i><b>{{ item.name }}</b> </a> 
                            <span v-if="item.mvid!=0" @click="playMV(item.mvid)"><i class="icon-yinle5 iconfont"></i></span>
                        </li>
                    </ul>
                    <img src="" alt="">
                </div>
                <!-- 歌曲信息容器 -->
                <div class="player_con" :class="{playing:isPlaying}">
                    <img src="./img/2.png" alt="" class="play_bar">
                    <!-- 黑胶碟片 -->
                    <img src="./img/1.png" alt="" class="disc autoRotate">
                    <img :src="musicCover" alt="" class="cover autoRotate">
                </div>
                <!-- 评论容器 -->
                <div class="comment_wrapper">
                    <h5 class="title">热门留言</h5>
                    <div class="comment_list">
                        <dl v-for="item in hotComments" :class="{li_on:index%2==0,li_off:index%2!=0}">
                            <dt><img :src="item.user.avatarUrl" alt=""></dt>
                            <dd class="name">{{ item.user.nickname }}</dd>
                            <dd class="detail">{{ item.content }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="audio_con">
                <audio  @play="play" @pause="pause" :src="musicUrl" ref="audio" controls autoplay loop class="myaudio"></audio>
            </div>
            <DIV class="video_con" v-show="isShow" style="display: none;">
                <div class="mask" @click="hide"></div>
                <video :src="mvUrl" controls="controls"></video>
            </DIV>
            <!-- 背景图 -->
            <div class="bg">
                <img :src="musicCover" alt="">
            </div>
        </div>
    </div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 官网提供的 axios 在线地址 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>